@model IEnumerable<SacramentMeetingPlanner.Models.Planner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Create" method="get">
    <button type="submit" class="btn btn-dark">Create New</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conducting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benediction)
            </th>
            <th>
                Speakers and Topics
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conducting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SacramentHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntermediateHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Benediction)
                </td>
                <td>
                    <!-- Nested loop to display speakers and their topics -->
                    @foreach (var speaker in item.SpeakersTopics)
                    {
                        <div>
                            <strong>@speaker.Speaker:</strong> @speaker.Topic
                        </div>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlannerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlannerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlannerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
